body{
	border: 2px solid #888;
	margin: 0px;
	background-color:#eee;
}
header{
	background-color: #ccc;
	padding: 1em 2em 1em 2em;
	font-family: 'Meddon', cursive;
}

footer{
	background-color: #ccc;
	padding: .5em;
	clear: both;
	text-align: center;
}

footer a{
	font-style: none;
	font-family: 'Meddon', cursive;
	text-decoration: none;
	color: inherit;
}

h1{
	font-size: 270%;
	border-bottom: 2px solid #bbb;
	margin:0px;
	padding: 0em 0.2em 0em 0.15em;
	text-align: left;
}

header p{
	margin:0px;
	font-size: 150%;
	text-align: right;
	padding: 0.25em 0.75em 0em 0em;
}
.wrapper{
	width: 90%;
	margin: 1em auto;
	overflow: hidden;
	font-family: 'Delius', cursive;
}

div>article{
	box-sizing: border-box;
	width: 48%;
	border-bottom: 2px solid #bbb;
	padding: 1em;
	overflow: hidden;
	background-color: rgba(204,204,204,0.27);
	margin: 1%;
}

.wrapper> :nth-child(odd){
	float: left;
	clear: both;
}

img{
	display: block;
	width:20%;
	border-radius: 5%;
	float: left;
	padding-right: 1em;
}

article p{
	margin: 0em;
	padding: .5em;
}

article cite{
	display: block;
	text-align: right;
}

/*main quote*/

section{
	width: 90%;
	margin: 1em auto 0em auto;
	font-family: 'Delius', cursive;
	font-size: 1.5em;
}

section > article{
	box-sizing: border-box;
	border-bottom: 2px solid #bbb;
	padding: 1em;
	background-color: rgba(204,204,204,0.27);
	margin: 1%;
	overflow: hidden;
}

section article p::first-letter{
    font-size: 200%;
}

/*media queries*/

@media (max-width: 500px){
	header{
		padding: 1em;
	}

	header h1{
		text-align: center;
		font-size: 200%;
	}
	header p{
		text-align: center;
		font-size: 100%;
		padding: 1em 1em 0em 1em;
	}
	.wrapper, section{
		width: 98%;
	}
	div>article{
		width: 100%;
		margin-bottom: 2%;
	}
	.wrapper> :nth-child(odd){
	float: none;
	}
	section{
		font-size: 1.1em;
	}
	section img{
		width: 50%;
		float: none;
		margin: auto;
	}
}